.{
    margin: 0;
    padding: 0;
}
.main{
    width: 100;
    background-image: url(unnamed.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.main img{
    width: 30%;
    height: 93vh;
    padding-left: 70px;
    padding-top: 105px;
    border-radius: 130px;
}
.content{
    width: 4000px;
    font-size: 100px;
    padding-left: 700px;
    padding-top:-200px;
    height: 20vh;
    position: relative;
    margin-left: 1700px;
    margin-top:-2300px;
    color: white;
    
}
.content h5{
    width: 1500px;
    font-size: 150px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    padding-bottom: 10h;
    color: white;
    margin-top: -160px;
    margin-left: 98px;
}
.content h1{
    width: 1500px;
    font-size: 200px;
    letter-spacing: 1px;
    margin-bottom: 220px;
    padding-bottom: 11h;
    color: orangered;
}
.content par{
    letter-spacing: 1px;
    width: -400px;
    font-size: 40px;
    margin-top: 18px;
    }
   
.nav{
    width: 160px;
    height:80vh;
    float: right;
    margin-right: 80px;
    margin-top: -3000px;
}
.fa-lightbulb{
    color: white;
    font-size: 100px;
    margin-top: 100px;
}

.fa-house-chimney{
    color: white;
     font-size: 100px;
     margin-top: 350px;
}
.fa-user{
    color: white;
    font-size: 100px;
    margin-top: 120px;

}
.fa-briefcase{
    color: white;
    font-size: 100px;
    margin-top: 120px;
}
.fa-envelope-open{
    color:white;
    font-size: 100px;
    margin-top: 120px;
}
.fa-comments{
    color: white;
    font-size: 100px;
    margin-top: 120px;
}
.fa-circle-arrow-right{
    margin-left: -40px;
    width: 10px;
    margin-top: 80px;
    font-size: 200px;
    bottom: 60px;
}
.content .cn{
    width: 900px;
    height: 150px;
    border: 2px solid #ff7200;
    border-radius: 100px;
    background: black;
    margin-top: 1vh;
    color: white;
    font-size: 60px;
    text-align: center;

}
.content .orange-color{
    color: #ff7200;
}